{% extends 'base_foot.html' %}
{% block head1%}
{% if index == 1%}
<script>
	$.get('/cart/', function (data) {
		$('#show_count').html(data.count);
    })
</script>
{%endif%}
{% endblock head1%}
{% block body %}
<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
				{%if request.session.user_name|default:'' != ''%}
				<div class="login_info fl">
					欢迎您：<a href="/user/info/">
					<em>{{request.session.user_name}}</em></a>
					<span>|</span>
					<a href="/user/logout/" class="tuichu">
						<em>退出</em>
					</a>
				</div>
				{%else%}
				<div class="login_btn fl">
					<a href="/user/login/">登录</a>
					<span>|</span>
					<a href="/user/register/">注册</a>
				</div>
				{%endif%}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info/">用户中心</a>
					<span>|</span>
					<a href="/cart/">我的购物车</a>
					<span>|</span>
					<a href="/user/order/">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
		{% if user_info == 1%}
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{{title}}</div>
		{% endif %}

		<div {% if user_info == 1%}
				class="search_con fr"
			{%	else%}
				class="search_con fl"
			{%endif%}>

			<form action="/search/" method="get" target="_blank">
				<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
				<input type="submit" class="input_btn fr"  value="搜索">
			</form>
		</div>

		{% if index == 1%}
		<div class="guest_cart fr">
			<a href="/cart/" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">0</div>
		</div>
		{% endif %}
	</div>



{% block content %}{% endblock content %}


{% endblock body %}